{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
   {%include "tools/barra_dashboard.html"%}
          {%include "tools/buscador.html"%}

    
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" >Bienvenid@, {{ name }}</h1>

         
          {%include 'inicio_chat.html'%}
          <p>   </p>
          <form class="form-signin" action="{{url_for('mensaje')}}" method="POST">

          <button class="btn btn-lg btn-primary btn-block" value="submit" style="color:#dbd4ed; background-color: #21223c; ">ENVIAR MENSAJE AUN USUARIO</button>
          </form>
          <p>   </p>
          <form class="form-signin" action="{{url_for('entrada')}}" method="POST">

          <button class="btn btn-lg btn-primary btn-block" value="submit" style="color:#dbd4ed; background-color: #21223c; ">BANDEJA DE ENTRADA</button>
          </form>


          
{% endblock %}